@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.ms-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #131314;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 20px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  border-color: #8e918f;
}

.ms-material-button .ms-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.ms-material-button .ms-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.ms-material-button .ms-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.ms-material-button .ms-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.ms-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.ms-material-button:disabled .ms-material-button-state {
  background-color: #e3e3e31f;
}

.ms-material-button:disabled .ms-material-button-contents {
  opacity: 38%;
}

.ms-material-button:disabled .ms-material-button-icon {
  opacity: 38%;
}

.ms-material-button:not(:disabled):active .ms-material-button-state, 
.ms-material-button:not(:disabled):focus .ms-material-button-state {
  background-color: white;
  opacity: 12%;
}

.ms-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.ms-material-button:not(:disabled):hover .ms-material-button-state {
  background-color: white;
  opacity: 8%;
}

/* Custom loader */
.ms-loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-left: 7px;
  border: 4px solid #4285f4;
  animation:
    ms-l20-1 0.8s infinite linear alternate,
    ms-l20-2 1.6s infinite linear;
}

@keyframes ms-l20-1 {
  0% { clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%) }
  12.5% { clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%) }
  25% { clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%) }
  50% { clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%) }
  62.5% { clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%) }
  75% { clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%) }
  100% { clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%) }
}

@keyframes ms-l20-2 {
  0% { transform: scaleY(1) rotate(0deg) }
  49.99% { transform: scaleY(1) rotate(135deg) }
  50% { transform: scaleY(-1) rotate(0deg) }
  100% { transform: scaleY(-1) rotate(-135deg) }
}

/* Light theme overrides */

html.light .ms-material-button {
  background-color: white;
  border: 1px solid #747775;
  color: #1f1f1f;
}

html.light .ms-material-button:disabled {
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

html.light .ms-material-button:not(:disabled):active .ms-material-button-state, 
html.light .ms-material-button:not(:disabled):focus .ms-material-button-state {
  background-color: #303030;
}

html.light .ms-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

html.light .ms-material-button:not(:disabled):hover .ms-material-button-state {
  background-color: #303030;
  opacity: 8%;
}